<div class="search-container">
  <div class="container">

    <div class="search-message">
      <h1>How can we help?</h1>
      <p>
        Use the search bar below to find the answer you are seeking.<br>
        If our guides cannot help you, our support staff will be standing by to address your unique needs.
      </p>
    </div>

    <div class="search-holder">
      <form role="search" class="search" data-search="true" action="/hc/en-us/search" accept-charset="UTF-8" method="get">
        <input name="utf8" type="hidden" value="✓">
        <input type="search" name="query" id="query" placeholder="Search for tutorials, guides and documentation...">
        <input type="submit" name="commit" value="Search">
      </form>
    </div>

  </div>
</div>
