/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 20px;
  color: #5a5a5a;
}

header {
  padding: 25px 0 10px 0;
  background-color: #900;
  background-image: url("../images/art-deco.png");
}

/* LOGO
-------------------------------------------------- */
.logo {
  float: left;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
  padding: 17px;
  margin-top: 0;
  margin-bottom: 0;
}

.logo a {
  float: left;
  background-image: url("../images/redconfetti-logo.png");
  background-repeat: no-repeat;
  background-size: 118px 17px;
  text-indent: -99999px;
  text-decoration: none;
  width: 130px;
  height: 20px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

/* Search Bar
---------------------------------------------------*/

.search-container {
  background-color: #000;
  background: url("../images/binary.jpg") center center;
  background-size: auto 100%;
  color: #FFF;
  height: 370px;
  margin-bottom: 60px;
  padding: 40px;
  text-align: center;
}

.search-container h1 {
  font-size: 50px;
}

.search-container p {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 0px;
}

.search-holder {
  background: rgba(255,255,255,0.2);
  border-radius: 4px 4px 0 0;
  height: 120px;
  padding: 25px;
}

.search-holder input[type="search"] {
  background: white url("../images/magnifier-grey.png");
  background-repeat: no-repeat;
  background-position: 25px 50%;
  color: #9d9d9d;
  float: left;
  max-width: 896px;
  padding: 27px 60px;
  width: 100%;
}

.search-holder input[type="submit"] {
  background: #9c0;
  color: #ffffff;
  cursor: pointer;
  border-radius: 2px;
  border: none;
  float: right;
  height: 75px;
  max-width: 167px;
  width: 100%;
}

.search-holder input[type="search"], .search-holder input[type="submit"] {
  border-radius: 2px;
  box-shadow: none;
  box-sizing: border-box;
  border: none;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: normal;
  text-shadow: none;
}

@media (max-width: 1199px) {
  .search-holder input[type="search"] {
    width: 730px;
  }

  .search-holder input[type="submit"] {
    max-width: 140px;
  }
}

@media (max-width: 991px) {
  .search-container {
    height: 400px;
  }

  .search-holder input[type="search"] {
    width: 510px;
  }

  .search-holder input[type="submit"] {
    max-width: 140px;
  }
}

@media (max-width: 767px) {
  .search-container {
    height: 420px;
  }

  .search-container h1 {
    font-size: 35px;
  }

  .search-container p {
    font-size: 14px;
  }

  .search-holder {
    padding: 15px;
    height: 197px;
    margin-top: 25px;
  }

  .search-holder input[type="search"] {
    width: 100%;
    max-width: 100%;
  }

  .search-holder input[type="submit"] {
    width: 100%;
    max-width: 100%;
    margin-top: 15px;
  }
}

@media (max-width: 480px) {
  .search-container {
    height: 450px;
  }

  .search-container h1 {
    font-size: 30px;
  }

  .search-container p {
    font-size: 14px;
  }

  .search-holder {
    margin-top: 15px;
  }
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
