
<header class="my-activities-header">
  {{breadcrumbs}}
</header>

<nav class="my-activities-nav nav-bordered">
  <ul>
    {{#if help_center.request_management_enabled}}
      <li>{{link 'requests'}}</li>
    {{/if}}
    <li>{{t 'contributions'}}</li>
    <li>{{link 'subscriptions'}}</li>
  </ul>
</nav>

<nav class="my-activities-sub-nav nav-spaced">
  <ul>
    {{#each filters}}
      <li>
        {{#if selected}}
          {{name}}
        {{else}}
          <a href="{{url}}">{{name}}</a>
        {{/if}}
      </li>
    {{/each}}
  </ul>
</nav>

<div class="my-activities-table">
  {{#if contributions}}
    <table>
      <thead>
        <tr>
          <th>{{t 'title'}}</th>
          <th>{{t 'type'}}</th>
          <th>{{t 'vote_sum'}}</th>
          <th>{{t 'last_activity'}}</th>
          <th>{{t 'created'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each contributions}}
          <tr>
            <td>
              <a href="{{url}}">
                {{excerpt title characters=60}}
              </a>
            </td>
            <td>{{type}}</td>
            <td>{{vote_sum}}</td>
            <td>{{date last_activity_at}}</td>
            <td>{{date created_at}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    {{t 'no_contributions'}}
  {{/if}}

  {{pagination}}
</div>
