<!-- add code here that should appear in the document head -->

<!-- Bootstrap core JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- jQuery -->
<script src="//code.jquery.com/jquery-1.10.2.js"></script>

<!-- jQuery UI -->
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<!-- jQuery UI CSS theme -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<!-- Underscore JS -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

<!-- Conditional Fields JS -->
<script type="text/javascript" src="https://rc-zendesk.herokuapp.com/conditional-fields-hc/conditionalFields.js" integrity="sha384-46b7797731c36d264140c98ea91a48e5eaec81933c07df6842b61a9a20317038ca9f7544b6b490ad39becae74cd6b943" crossorigin="anonymous"></script>
