<div class="search-container">
  <div class="container">

    <div class="search-message">
      <h1>How can we help?</h1>
      <p>
        Use the search bar below to find the answer you are seeking.<br>
        If our guides cannot help you, our support staff will be standing by to address your unique needs.
      </p>
    </div>

    <div class="search-holder">
      <form role="search" data-search="true" action="/hc/en-us/search" accept-charset="UTF-8" method="get">
        <input name="utf8" type="hidden" value="✓">
        <input type="search" name="query" id="query" placeholder="Search for tutorials, guides and documentation...">
        <input type="submit" name="commit" value="Search">
      </form>
    </div>

  </div>
</div>

<div class="container main">
  <div class="row">
    <div class="col-md-8">
      <ul class="category-list">
        {{#each categories}}
          <li><a href="{{url}}">{{name}}</a></li>
        {{/each}}

        {{pagination}}
      </ul>      

      <div class="community">
        {{#if help_center.community_enabled}}
          <h4>
            {{t 'community'}}
            {{#link 'community'}}
              {{t 'browse'}}
            {{/link}}
          </h4>
        {{/if}}
        {{recent_activity scope='community'}}
      </div>
    </div>

    <div class="col-md-4">
      <div class="apod-widget">
        <h3>Astronomy Photo of the Day</h3>
          <div id="apodErrorContainer" style="display:none">
            <div id="apodError" class="alert alert-danger" role="alert"></div>
          </div>
          <div id="apodLoader" class="loading" style="display:none"></div>
          <div id="apodContent" style="display:none">
            <a data-toggle="modal" data-target="#apodModal" class="modalToggle">
              <img id="apodImage" class="thumbnail" src="">
            </a>
          </div>
          <p>
            <input id="apodDate" type="date" class="form-control" value="">
          </p>
      </div>
    </div>

    <div class="modal fade" id="apodModal" tabindex="-1" role="dialog" aria-labelledby="apodModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="apodModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            <img id="apodModalImage" src=""/>
            <p id="apodModalDescription"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
</div>
