<header>
  <div class="rc-header">
    <div class="container">
      <nav class="navbar navbar-inverse navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <h2 class="logo">
              <a href="http://www.redconfetti.com/">redconfetti</a>
            </h2>
            <!-- a class="navbar-brand" href="#">redconfetti</a -->
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active">
                {{#link 'help_center'}}Support{{/link}}
              </li>
              <li>
                <a href="#faq">FAQ</a>
              </li>
              <li>
                <a href="/hc/communities/public/questions">Community</a>
              </li>
              <li class="submit-request">
                <a href="/hc/en-us/requests/new">Submit Request</a>
              </li>
            </ul>
            {{user_info}}
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
