<header class="header">
  <div class="header-inner clearfix">
    <div class="logo">{{#link 'help_center'}}
      <img src="{{logo_url}}" alt="{{t 'logo'}}">
    {{/link}}</div>
    <nav class="user-nav">
      {{#if alternative_locales}}
        <div class="dropdown language-selector" aria-haspopup="true">
          <a class="dropdown-toggle">
            {{current_locale.name}}
          </a>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
              <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                {{name}}
              </a>
            {{/each}}
          </span>
        </div>
      {{/if}}
      {{link 'new_request' class='submit-a-request'}}
      {{user_info}}
    </nav>
  </div>
</header>

<div class="search-unit">
  {{search scoped=true}}
</div>
