<div class="container main">
  <ul class="category-list">
    {{#each categories}}
      <li><a href="{{url}}">{{name}}</a></li>
    {{/each}}

    {{pagination}}
  </ul>

  <div class="community">
    {{#if help_center.community_enabled}}
      <h4>
        {{t 'community'}}
        {{#link 'community'}}
          {{t 'browse'}}
        {{/link}}
      </h4>
    {{/if}}
    {{recent_activity scope='community'}}
  </div>
</div>
